$accent: #fe4365
$green: #96BBAA
$light: #D6D6BF

$roboto: 'roboto', serif

@import _reset
@import _humburger
@import _logo


body
  font-family: $roboto
  nav
    display: flex
    position: fixed
    z-index: 10
    top: 0
    left: 0
// _________ H E A D E R
header
  position: relative
  height: 90vh
  overflow: hidden
  color: #ffffff
  text-transform: uppercase
  text-align: center
  h1
    font-size: 38px
    font-weight: 700
    line-height: 76px
    color: #ffffff
    margin-top: 30vh
    margin-bottom: 0
    font-family: 'proxima-bold', serif
  p
    font-family: 'proxima', serif
    font-size: 20.5px
    line-height: 32px
    margin-bottom: 0
  video
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: -1