@import _reset

$accent: #fe4365
$green: #96BBAA
$light: #D6D6BF

body
  font-family: 'roboto', serif
// _________ T O G G L E R
.menu-toggler
  width: 80px
  height: 80px
  background-color: $accent
  cursor: pointer
  &__inner
    position: absolute 
    top: 50%
    left: 50%
    margin: auto
    width: 23px
    height: 18px
    transform: translate(-50%,-50%)
    transition: transform .3s cubic-bezier(.4,0,.2,1)
    & > span
      position: absolute
      left: 0
      height: 3px
      width: 100%
      background-color: #fff
      transform: translateZ(0)
      transition: transform .2s cubic-bezier(.4,0,.2,1) .2s, opacity .15s 50ms, width .4s
      &:nth-child(1)
        top: 0
      &:nth-child(2)
        top: 7px
        transition: transform .2s cubic-bezier(.4,0,.2,1) 50ms,width .4s
      &:nth-child(3)
        top: 14px
  &:hover .menu-toggler__inner
    & > span:nth-child(1)
      width: 40%
    & > span:nth-child(2)
      width: 70%
  &.open .menu-toggler__inner
    transform: translate(-50%,-50%) rotate(135deg)
    transition-delay: .2s
    & > span:nth-child(1)
      transform: translateY(.425rem)
      transition-delay: 0s, .2s
    & > span:nth-child(2)
      transition-delay: .15s
      transform: rotate(90deg)
    & > span:nth-child(3)
      transform: translateY(-.59375rem);
      transition-delay: 0s, .15s
      opacity: 0
  &.open:hover .menu-toggler__inner
    & > span:nth-child(1)
      width: 100%
    & > span:nth-child(2)
      width: 100%
// _________ H E A D E R
header 
  nav
    position: fixed
    top: 0
    left: 0
  position: relative
  height: 90vh
  overflow: hidden
  color: #ffffff
  text-transform: uppercase
  text-align: center
  h1
    font-size: 38px
    font-weight: 700
    line-height: 76px
    color: #ffffff
    margin-top: 30vh
    margin-bottom: 0
    font-family: 'proxima-bold', serif
  p
    font-family: 'proxima', serif
    font-size: 20.5px
    line-height: 41px
    margin-bottom: 0
  video
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: -1