$imgWidth: 258px
$imgHeight: 420px
$rangeSlider: $imgHeight - 50px !important
$rangeHandleTransition: .2s
$svgSize: 130px

@keyframes collapseUp
  50%
    transform: translateY($svgSize)
  100%
    transform: translateY(0)

@keyframes collapseDown
  50%
    transform: translateY(-$svgSize)
  100%
    transform: translateY(0)

.main-constructor
  position: absolute
  top: 0
  bottom: 0
  right: 10vw
  left: 0
  display: flex
  justify-content: space-around
  overflow: hidden
  background-color: #fff
  background-clip: content-box
  cursor: default
  transform: translateY(100vh)
  padding-left: 80px
  svg.towelDryer
    display: block
    cursor: pointer
    width: $svgSize
    height: $svgSize
    margin-bottom: 10px
    & > * 
      fill: $accent
  &__settings
    padding-top: 120px
    &--wrap
      position: relative
      z-index: 2
    &--icons
      position: relative
      width: $svgSize
      height: $svgSize
      margin-bottom: 0
      svg.towelDryer
        width: 100%
        height: 100%
        margin-bottom: 0
      figure
        z-index: 3
        position: relative
        transition: z-index
        transition-delay: 150ms
        &::before
          content: ''
          background-color: #fff
          position: absolute 
          top: 0
          bottom: 0
          right: 0
          left: 0
          filter: blur(10px)
        svg.towelDryer
          width: $svgSize
          height: $svgSize
    &--icon
      z-index: 1
      width: 60px
      height: 60px
      position: absolute 
      top: 0
      bottom: 0
      right: 0
      left: 0
      margin: auto
  &__color
    position: relative
    cursor: pointer
    width: 30px
    height: 30px
    border-radius: 50%
    transition: border-width 150ms ease-out
    &::after
      content: ''
      position: absolute 
      top: 6px
      left: 0
      right: 0
      margin: 0 auto
      width: 8px
      height: 15px
      border-right: 2px solid $accent
      border-bottom: 2px solid $accent
      transform: rotate(45deg) scale(.5)
      opacity: 0
      transition: transform .2s ease-out, opacity .1s
    &:hover::after
      opacity: 0.5
      transform: rotate(45deg) scale(1)
    &.active::after
      opacity: 1
      transform: rotate(45deg) scale(1)
    &.active:hover::after
      opacity: 1
      transform: rotate(45deg) scale(1.2)
  &__colors
    display: flex
    justify-content: space-between
    position: absolute 
    top: calc(100% + 30px)
    right: -20px
    left: -20px
  &__image
    display: flex
    flex-wrap: wrap
    position: relative
    text-align: center
    padding: 60px 0 100px
    .rangeslider-horizontal
      margin-bottom: 30px
    .rangeslider-vertical
      margin: 0
      max-height: 420px
      height: $rangeSlider
    &--range
      position: relative
      align-self: flex-end
      padding: 0 20px 30px 54px
    &--preview
      width: $imgWidth
      height: $imgHeight   //  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!????????
      display: flex
      align-items: center
      justify-content: center
    &--height-tooltip, &--width-tooltip, &--gate-tooltip
      text-align: center
      white-space: nowrap
      font-weight: 700
    &--height-tooltip
      position: absolute 
      top: 0
      bottom: 0
      left: 100%
      margin: auto 0
      height: 1rem
    &--wrap
      position: relative
  &__arrow
    &--order, &--back
      width: 80px
      cursor: pointer
      position: absolute 
      bottom: 2vh
    &--back
      left: 0
      transform: rotate(-90deg)
      & > *
        fill: #ffffff
    &--order
      right: 5vw
      transform: rotate(-180deg)
      & > *
        fill: $accent
  .input-range__track--active, .input-range__slider
    background-color: $accent
  .input-range__slider
    border-color: $accent
// WHEN STATE ARE constructor
// Current version work on react-motion
.main-menu__wrap.constructor
  .main-constructor
    // transform: translateY(0)

// WHEN STATE ARE order
// Current version work on react-motion
.main-menu__wrap.order
  .main-constructor
    // transform: translateY(0)

// range transition
.rangeslider__handle
  transition: top $rangeHandleTransition ease-out, left $rangeHandleTransition ease-out
.rangeslider__fill
  transition: height $rangeHandleTransition ease-out, width $rangeHandleTransition ease-out

// form button groups margin
.icons-form__set
  margin-top: $svgSize
  .main-constructor__settings--icon
    width: 50px
    height: 50px