
@media (max-width: 767px)//-xs
	html
		font-size: 6px
	.grid__item--design-img::before
		width: 0
	.preview__constructor main
		min-width: 100%
	.preview__constructor
		flex: 100% 0 0
	.preview__legend
		order: 1
	.grid
		padding-left: 20px
		padding-right: 30px
		&__item
			flex: 100% 0 0
	.footer__about > div, .footer__copy, .benefits__legend legend, .preview__legend > div, .preview__constructor hgroup
		padding-left: 10px
		padding-right: 10px
	header h1
		line-height: 35px
		margin-bottom: 30px
	.logo
		width: 180px
	.logo, .menu-toggler
		height: 50px
	.preview__legend h2
		margin-bottom: 0
	.grid__item--energy, .grid__item--design, .grid__item--size
		padding: 10px 15px 45px
	.grid__item--energy-img
		order: 0
	.grid__item--energy
		order: 1
	.grid__item--design-img
		order: 2
	.grid__item--design
		order: 3
	.grid__item--size-img
		order: 4
	.grid__item--size
		order: 5
	.grid__item--size::before
		top: -50px
		left: -20px
	.grid__item--design::before
		left: -20px
		bottom: -300px