svg
  cursor: pointer
.arrowRight
  z-index: 3
  margin-left: auto
  background-color: $accent
  width: 17px
  transition: transform 440ms cubic-bezier(.2,.85,.4,1.275)
  & > *
    fill: #ffffff
.towelDryer, .ladder, .fType
  width: 36px
  height: 42px
  & > *
    fill: #ffffff
    stroke: #ffffff
.main-constructor
  .towelDryer, .ladder, .fType
    & > *
      fill: $accent
      stroke: $accent
.phone, .letter, .clock, .marker
  width: 15px
  & > *
    fill: $accent
    stroke: $accent
.main-menu__footer
  .phone, .letter, .clock, .marker
    width: 30px
    & > *
      fill: #ffffff
      stroke: #ffffff
.volna, .zigzag, .duga, .priamaia, .skoba, .neo1, .neo2, .trapecia, .avrora
  & > *
    stroke: $accent
    fill: transparent
  & > circle
    fill: $accent
  path, line, polyline
    stroke-width: 5