svg
  cursor: pointer
  transition: opacity 120ms ease-in-out, filter 120ms
  .lintel
    transition: fill .3s ease-in-out
  & > *
    transition: fill 120ms ease-out, stroke 120ms ease-out

.arrowRight
  z-index: 3
  margin-left: auto
  background-color: $accent
  width: 17px
  transition: transform 440ms cubic-bezier(.2,.85,.4,1.275)
  & > *
    fill: #ffffff
.towelDryer, .ladder, .fType
  width: 36px
  height: 42px
  & > *
    fill: #ffffff
    stroke: #ffffff
.main-constructor
  .towelDryer, .ladder, .fType
    & > *
      fill: $accent
      stroke: $accent
.phone, .letter, .clock, .marker
  width: 15px
  & > *
    fill: $accent
    stroke: $accent
.main-menu__footer
  .phone, .letter, .clock, .marker
    width: 30px
    & > *
      fill: #ffffff
      stroke: #ffffff
.volna, .zigzag, .duga, .priamaia, .skoba, .neo1, .neo2, .trapecia, .avrora, .laguna, .neo_priamaya, .neo_duga, .neo_modern, .skoba_priamaya, .trapecia_priamaya
  & > *
    stroke: $accent
    fill: transparent
  & > circle
    fill: $accent
  path, line, polyline
    stroke-width: 5

svg[disabled], .main-constructor svg[disabled]
  cursor: not-allowed
  opacity: 0.65
  filter: blur(1px)
  & > *
    fill: darken($accent, 45)
    stroke: darken($accent, 45)
  &.volna, &.zigzag, &.duga, &.priamaia, &.skoba, &.neo1, &.neo2, &.trapecia, &.avrora
    & > *
      stroke: darken($accent, 45)
      fill: transparent
    & > circle
      fill: darken($accent, 45)

// highlight hover rails
// .main-constructor__settings--wrap
//   svg:hover
//     .rail
      // fill: darken($accent, 30)