body {
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  overflow-x: hidden;
  opacity: 1;
  font-weight: 400;
  overflow-scrolling: touch;
  margin: 0; }

a:hover, a:focus {
  text-decoration: none; }

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent; }

input:hover, input:focus, a:focus, a:active, button:active, button:focus, textarea:active, textarea:focus {
  outline: none; }

p, h1, h2, h3, h4, h5 {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

template, [hidden] {
  display: none; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1rem; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

legend {
  border: 0;
  padding: 0; }

label {
  cursor: pointer; }

*:focus {
  outline: none; }

*, *::before, *::after {
  box-sizing: border-box; }

.menu {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0; }
  .menu-toggler {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #fe4365;
    cursor: pointer; }
    .menu-toggler__inner {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: auto;
      width: 23px;
      height: 18px;
      transform: translate(-50%, -50%);
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
      .menu-toggler__inner > span {
        position: absolute;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: #fff;
        transform: translateZ(0);
        transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.2s, opacity 0.15s 50ms, width 0.4s; }
        .menu-toggler__inner > span:nth-child(1) {
          top: 0; }
        .menu-toggler__inner > span:nth-child(2) {
          top: 7px;
          transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 50ms, width 0.4s; }
        .menu-toggler__inner > span:nth-child(3) {
          top: 14px; }
    .menu-toggler:hover .menu-toggler__inner > span:nth-child(1) {
      width: 40%; }
    .menu-toggler:hover .menu-toggler__inner > span:nth-child(2) {
      width: 70%; }
    .menu-toggler.open .menu-toggler__inner {
      transform: translate(-50%, -50%) rotate(135deg);
      transition-delay: .2s; }
      .menu-toggler.open .menu-toggler__inner > span:nth-child(1) {
        transform: translateY(0.425rem);
        transition-delay: 0s, .2s; }
      .menu-toggler.open .menu-toggler__inner > span:nth-child(2) {
        transition-delay: .15s;
        transform: rotate(90deg); }
      .menu-toggler.open .menu-toggler__inner > span:nth-child(3) {
        transform: translateY(-0.59375rem);
        transition-delay: 0s, .15s;
        opacity: 0; }
    .menu-toggler.open:hover .menu-toggler__inner > span:nth-child(1) {
      width: 100%; }
    .menu-toggler.open:hover .menu-toggler__inner > span:nth-child(2) {
      width: 100%; }

@keyframes logoToggle {
  0% {
    color: #fe4365;
    transform: scaleX(1) translateX(0px);
    opacity: 1; }
  35%, 75% {
    opacity: 0; }
  60% {
    color: #fff;
    transform: scaleX(0.2) translateX(20px); }
  100% {
    opacity: 1;
    color: #ffffff;
    transform: scaleX(1) translateX(0px); } }

@keyframes logoFigureToggle {
  0% {
    transform: scaleX(1);
    opacity: 1; }
  35%, 75% {
    opacity: 0; }
  60% {
    transform: scaleX(0.2); }
  100% {
    opacity: 1;
    transform: scaleX(1); } }

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 266px;
  max-width: 266px;
  background-color: #fff;
  transition: background-color .65s; }
  .logo span {
    font-family: "roboto", serif;
    font-weight: 700;
    color: #fe4365;
    font-size: 42px;
    line-height: 1;
    transition: color .65s; }
    .logo span:first-child {
      transform-origin: calc(100% + 30px); }
    .logo span:last-child {
      transform-origin: -30px; }
  .logo figure {
    z-index: 1;
    display: inline-block;
    width: 34px;
    height: 34px;
    background-color: #fe4365;
    border: 5px solid #d4d4d4;
    border-radius: 50%;
    margin: 0 5px 0 7px; }
  .logo.open {
    background-color: #fe4365; }
    .logo.open span:first-child {
      animation: logoToggle .6s ease-out forwards; }
    .logo.open figure {
      animation: logoFigureToggle .6s ease-out forwards; }
    .logo.open span:last-child {
      animation: logoToggle .6s ease-out forwards; }

svg {
  cursor: pointer;
  transition: opacity 120ms ease-in-out, filter 120ms; }
  svg .lintel {
    transition: fill .3s ease-in-out; }
  svg > * {
    transition: fill 120ms ease-out, stroke 120ms ease-out; }

.arrowRight {
  z-index: 3;
  margin-left: auto;
  background-color: #fe4365;
  width: 17px;
  transition: transform 440ms cubic-bezier(0.2, 0.85, 0.4, 1.275); }
  .arrowRight > * {
    fill: #ffffff; }

.towelDryer, .ladder, .fType {
  width: 36px;
  height: 42px; }
  .towelDryer > *, .ladder > *, .fType > * {
    fill: #ffffff;
    stroke: #ffffff; }

.main-constructor .towelDryer > *, .main-constructor .ladder > *, .main-constructor .fType > * {
  fill: #fe4365;
  stroke: #fe4365; }

.phone, .letter, .clock, .marker {
  width: 15px; }
  .phone > *, .letter > *, .clock > *, .marker > * {
    fill: #fe4365;
    stroke: #fe4365; }

.main-menu__footer .phone, .main-menu__footer .letter, .main-menu__footer .clock, .main-menu__footer .marker {
  width: 30px; }
  .main-menu__footer .phone > *, .main-menu__footer .letter > *, .main-menu__footer .clock > *, .main-menu__footer .marker > * {
    fill: #ffffff;
    stroke: #ffffff; }

.volna > *, .zigzag > *, .duga > *, .priamaia > *, .skoba > *, .neo1 > *, .neo2 > *, .trapecia > *, .avrora > * {
  stroke: #fe4365;
  fill: transparent; }

.volna > circle, .zigzag > circle, .duga > circle, .priamaia > circle, .skoba > circle, .neo1 > circle, .neo2 > circle, .trapecia > circle, .avrora > circle {
  fill: #fe4365; }

.volna path, .volna line, .volna polyline, .zigzag path, .zigzag line, .zigzag polyline, .duga path, .duga line, .duga polyline, .priamaia path, .priamaia line, .priamaia polyline, .skoba path, .skoba line, .skoba polyline, .neo1 path, .neo1 line, .neo1 polyline, .neo2 path, .neo2 line, .neo2 polyline, .trapecia path, .trapecia line, .trapecia polyline, .avrora path, .avrora line, .avrora polyline {
  stroke-width: 5; }

svg[disabled], .main-constructor svg[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
  filter: blur(1px); }
  svg[disabled] > *, .main-constructor svg[disabled] > * {
    fill: #5b0011;
    stroke: #5b0011; }
  svg[disabled].volna > *, svg[disabled].zigzag > *, svg[disabled].duga > *, svg[disabled].priamaia > *, svg[disabled].skoba > *, svg[disabled].neo1 > *, svg[disabled].neo2 > *, svg[disabled].trapecia > *, svg[disabled].avrora > *, .main-constructor svg[disabled].volna > *, .main-constructor svg[disabled].zigzag > *, .main-constructor svg[disabled].duga > *, .main-constructor svg[disabled].priamaia > *, .main-constructor svg[disabled].skoba > *, .main-constructor svg[disabled].neo1 > *, .main-constructor svg[disabled].neo2 > *, .main-constructor svg[disabled].trapecia > *, .main-constructor svg[disabled].avrora > * {
    stroke: #5b0011;
    fill: transparent; }
  svg[disabled].volna > circle, svg[disabled].zigzag > circle, svg[disabled].duga > circle, svg[disabled].priamaia > circle, svg[disabled].skoba > circle, svg[disabled].neo1 > circle, svg[disabled].neo2 > circle, svg[disabled].trapecia > circle, svg[disabled].avrora > circle, .main-constructor svg[disabled].volna > circle, .main-constructor svg[disabled].zigzag > circle, .main-constructor svg[disabled].duga > circle, .main-constructor svg[disabled].priamaia > circle, .main-constructor svg[disabled].skoba > circle, .main-constructor svg[disabled].neo1 > circle, .main-constructor svg[disabled].neo2 > circle, .main-constructor svg[disabled].trapecia > circle, .main-constructor svg[disabled].avrora > circle {
    fill: #5b0011; }

.rz_btn {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin-top: 10px;
  margin-left: 21px;
  background-color: #fe4365;
  border: none;
  font-size: 24px;
  height: 42px;
  width: 17px;
  transition: width 170ms ease-in-out; }
  .rz_btn span {
    color: #ffffff; }
  .rz_btn::after, .rz_btn::before {
    content: '';
    background-color: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 42px;
    background-color: #fe4365; }
  .rz_btn::after {
    z-index: 2;
    left: calc(100% - 21px);
    border-radius: 50%; }
  .rz_btn::before {
    right: calc(100% - 21px);
    border-radius: 50%; }
  .rz_btn:hover {
    width: 207px; }
    .rz_btn:hover svg {
      transform: rotate(180deg); }
  .rz_btn:hover:active svg {
    transform: rotate(180deg) translateX(10px); }
  .rz_btn > span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .rz_btn > span span {
      position: absolute;
      z-index: 1;
      left: 16px;
      white-space: nowrap;
      top: -7px; }

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 140px calc((100vw - 1100px) / 2); }
  .grid p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400; }
  .grid__item {
    position: relative; }
    .grid__item--design::before, .grid__item--size::before {
      z-index: -1;
      content: '';
      position: absolute;
      background-color: #D6D6BF; }
    .grid__item--size::before {
      top: 0;
      left: 35px;
      bottom: 50px;
      right: -30px; }
    .grid__item--design::before {
      top: -30px;
      bottom: -45px;
      right: -30px;
      left: 0; }
    .grid__item--design-img img, .grid__item--energy-img .parallax-inner img {
      position: relative; }
    .grid__item--design-img::before, .grid__item--energy-img .parallax-inner::before {
      content: '';
      position: absolute;
      background-color: #96BBAA; }
    .grid__item--design-img::before {
      bottom: 0;
      left: 0;
      width: 365px;
      height: 365px;
      transform: translate(-27px, 27px); }
    .grid__item--energy-img .parallax-inner::before {
      top: 0;
      right: 0;
      width: 192px;
      height: 192px;
      transform: translate(27px, -27px); }
    .grid__item--design-img {
      margin-top: -30px; }
    .grid__item--energy .rz_btn, .grid__item--size .rz_btn {
      float: right; }
    .grid__item--energy, .grid__item--design, .grid__item--size {
      padding: 75px 80px 65px; }
      .grid__item--energy-img img, .grid__item--design-img img, .grid__item--size-img img {
        width: 100%; }
    .grid__item--energy-img, .grid__item--design {
      flex: 45% 0 0; }
    .grid__item--design-img, .grid__item--energy {
      flex: 55% 0 0; }
    .grid__item--size {
      flex: 52% 0 0; }
      .grid__item--size-img {
        flex: 48% 0 0; }

.main-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10vw;
  left: 0;
  overflow: hidden;
  background-color: #fe4365;
  cursor: default;
  padding: 20vh 80px 5vh;
  transition: transform .35s ease-out; }
  .main-menu__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .main-menu__footer > * {
      flex: 50% 0 0;
      color: #ffffff;
      padding: 15px 0;
      font-size: 18px;
      font-weight: 500;
      display: flex;
      align-items: center; }
      .main-menu__footer > * span {
        color: #ffffff;
        padding-left: 25px; }
    .main-menu__footer a:hover {
      color: #ffffff; }
  .main-menu__header {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1.25;
    padding-right: 180px; }
    .main-menu__header:nth-child(1) {
      transition: transform .4s .45s ease-out; }
    .main-menu__header:nth-child(2) {
      transition: transform .4s .48s ease-out; }
    .main-menu__header:nth-child(3) {
      transition: transform .4s .59s ease-out; }
    .main-menu__header span {
      color: inherit;
      padding-right: 20px;
      cursor: pointer; }
    .main-menu__header ul {
      flex-grow: 1;
      opacity: 0;
      margin-bottom: 0;
      padding: 0;
      padding-left: 80px;
      transition: flex-grow .3s ease-out, opacity .2s; }
    .main-menu__header hr {
      opacity: 0;
      flex: auto 1 0;
      transition: opacity .2s; }
    .main-menu__header:hover hr {
      opacity: 1; }
    .main-menu__header:hover ul {
      flex-grow: 0;
      opacity: 1; }
    .main-menu__header li {
      cursor: pointer;
      list-style: none;
      font-size: 18px;
      text-transform: none;
      font-weight: 500; }
    .main-menu__header li + li {
      margin-top: 18px; }
  .main-menu > hr {
    margin: 20px 0 30px; }
  .main-menu hr {
    height: 2px;
    border: none;
    background-color: #fff; }
  .main-menu__close {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 10vw; }
  .main-menu__wrap {
    z-index: 9;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    transition: transform .3s 280ms, background-color .48s .52s; }
    .main-menu__wrap.open {
      transform: translateX(0);
      background-color: rgba(254, 67, 101, 0.3); }
      .main-menu__wrap.open .main-menu__header {
        transform: translateX(0); }
    .main-menu__wrap.close {
      transition: transform .2s, background-color .2s;
      transform: translateX(-100vw);
      background-color: rgba(254, 67, 101, 0); }
      .main-menu__wrap.close .main-menu__header {
        transform: translateX(-100vw);
        transition: transform .2s; }

@keyframes collapseUp {
  50% {
    transform: translateY(100px); }
  100% {
    transform: translateY(0); } }

@keyframes collapseDown {
  50% {
    transform: translateY(-100px); }
  100% {
    transform: translateY(0); } }

.main-constructor {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10vw;
  left: 80px;
  background-color: #fff;
  cursor: default;
  transform: translateY(100vh); }
  .main-constructor__wrap {
    width: 100%;
    display: flex;
    justify-content: space-around; }
  .main-constructor__layout {
    position: relative;
    overflow: hidden;
    height: 100%; }
  .main-constructor figcaption {
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase; }
  .main-constructor__settings {
    flex: 25% 0 0;
    padding-top: 120px;
    text-align: center; }
    .main-constructor__settings--wrap {
      position: relative;
      z-index: 2;
      display: block;
      cursor: pointer;
      margin-bottom: 10px;
      text-align: center;
      transform: scale(1.1); }
      .main-constructor__settings--wrap figcaption {
        opacity: 0;
        transform: translateY(5px); }
      .main-constructor__settings--wrap svg {
        width: 100px;
        height: 100px; }
      .main-constructor__settings--wrap:hover:not([disabled]) {
        transform: scale(1); }
        .main-constructor__settings--wrap:hover:not([disabled]) figcaption {
          transform: translateY(-5px);
          opacity: 1; }
    .main-constructor__settings--icons {
      position: relative;
      width: 100px;
      margin: 0 auto; }
      .main-constructor__settings--icons svg {
        width: 100%;
        height: 100%;
        margin-bottom: 0; }
      .main-constructor__settings--icons figure {
        cursor: pointer;
        z-index: 3;
        position: relative;
        text-align: center; }
        .main-constructor__settings--icons figure figcaption {
          text-align: center;
          transform: translateY(-5px);
          opacity: 0; }
        .main-constructor__settings--icons figure:hover:not([disabled]) figcaption {
          transform: translateY(-15px);
          opacity: 1; }
        .main-constructor__settings--icons figure::before {
          content: '';
          background-color: #fff;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: 100px;
          margin: auto;
          filter: blur(10px); }
        .main-constructor__settings--icons figure svg {
          width: 100px;
          height: 100px; }
    .main-constructor__settings--icon {
      cursor: pointer;
      z-index: 1;
      width: 60px;
      height: 60px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto; }
      .main-constructor__settings--icon figcaption {
        white-space: nowrap;
        text-align: center;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        transform: translateY(35px);
        opacity: 0; }
      .main-constructor__settings--icon:hover figcaption {
        transform: translateY(19px);
        opacity: 1; }
  .main-constructor__color {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%; }
    .main-constructor__color::before {
      content: '';
      position: absolute;
      top: -1px;
      bottom: -1px;
      right: -1px;
      left: -1px;
      border: 4px solid #fe4365;
      border-radius: 50%;
      transform: scale(1.5);
      opacity: 0; }
    .main-constructor__color:hover::before {
      transform: scale(1.2);
      opacity: 1; }
    .main-constructor__color::after {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 8px;
      height: 15px;
      border-right: 2px solid #fe4365;
      border-bottom: 2px solid #fe4365;
      transform: rotate(45deg) scale(0.5);
      opacity: 0; }
    .main-constructor__color:hover::after {
      opacity: 0.5;
      transform: rotate(45deg) scale(1); }
    .main-constructor__color.active::before {
      opacity: 1;
      transform: scale(1); }
    .main-constructor__color.active::after {
      opacity: 1;
      transform: rotate(45deg) scale(1); }
    .main-constructor__color.active:hover::before {
      opacity: 1;
      transform: scale(1.2); }
    .main-constructor__color.active:hover::after {
      opacity: 1;
      transform: rotate(45deg) scale(1.2); }
  .main-constructor__colors {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: calc(100% + 30px);
    right: -20px;
    left: -20px;
    max-width: 258px;
    margin: 0 auto; }
  .main-constructor__image {
    position: relative;
    flex: 50% 0 0;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 60px 0 100px; }
    .main-constructor__image .rangeslider-horizontal {
      margin-bottom: 30px; }
    .main-constructor__image .rangeslider-vertical {
      margin: 0;
      max-height: 420px;
      height: 370px !important; }
    .main-constructor__image--desc {
      position: absolute;
      top: 20%;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: #fff;
      text-align: left;
      padding: 20px; }
    .main-constructor__image--container {
      position: relative;
      overflow: hidden; }
    .main-constructor__image--icons {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #fe4365;
      font-size: 2rem;
      line-height: 1;
      cursor: pointer;
      background-color: #ffffff;
      padding: 5px;
      border-radius: 5px; }
      .main-constructor__image--icons > i {
        margin-right: 15px;
        border-radius: 50%; }
    .main-constructor__image--range {
      position: relative;
      align-self: flex-end;
      padding: 0 20px 30px 54px; }
    .main-constructor__image--preview {
      width: 100%;
      height: 420px;
      background-size: auto 100%;
      background-position: center 0;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center; }
    .main-constructor__image--height-tooltip, .main-constructor__image--width-tooltip, .main-constructor__image--gate-tooltip {
      text-align: center;
      white-space: nowrap;
      font-weight: 700; }
    .main-constructor__image--height-tooltip {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      margin: auto 0;
      height: 1rem; }
    .main-constructor__image--wrap {
      flex-grow: 1;
      position: relative; }
  .main-constructor__energy {
    position: absolute;
    max-width: 258px;
    margin: 0 auto;
    right: 0;
    left: 0;
    bottom: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .main-constructor__energy + div {
      max-width: 258px;
      margin: 0 auto; }
    .main-constructor__energy svg {
      cursor: pointer;
      width: 20px; }
      .main-constructor__energy svg > * {
        fill: #b3b3b3; }
    .main-constructor__energy .active svg.tint > * {
      fill: #77dde7; }
    .main-constructor__energy .active svg.bolt > * {
      fill: #fde910; }
  .main-constructor__price {
    position: absolute;
    bottom: 2vh;
    right: calc(10vw + 90px);
    height: 80px;
    display: flex;
    align-items: center; }
    .main-constructor__price span {
      font-size: 30px;
      font-weight: 700; }
  .main-constructor__arrow--order, .main-constructor__arrow--back, .main-constructor__arrow--main {
    width: 80px;
    cursor: pointer;
    position: absolute;
    bottom: 2vh; }
  .main-constructor__arrow--main {
    left: 2vw; }
    .main-constructor__arrow--main > * {
      fill: #ffffff; }
  .main-constructor__arrow--back {
    right: 100%;
    transform: rotate(-90deg); }
    .main-constructor__arrow--back > * {
      fill: #ffffff; }
  .main-constructor__arrow--order {
    right: 5vw;
    transform: rotate(-180deg); }
    .main-constructor__arrow--order > * {
      fill: #fe4365; }
  .main-constructor__gate-input {
    max-width: 150px;
    margin: 0 auto; }
  .main-constructor .input-range__track--active, .main-constructor .input-range__slider {
    background-color: #fe4365; }
  .main-constructor .input-range__slider {
    border-color: #fe4365; }

.icons-form__set {
  margin-top: 140px;
  width: 150px; }
  .icons-form__set .main-constructor__settings--icon {
    width: 60px; }
    .icons-form__set .main-constructor__settings--icon figcaption {
      text-align: center;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      transform: translateY(10px);
      opacity: 0;
      transition: transform 0.2s ease-out, opacity 0.2s ease-out; }
    .icons-form__set .main-constructor__settings--icon:hover figcaption {
      transform: translateY(0);
      opacity: 1; }
  .icons-form__set figure::before {
    top: 10px;
    right: 10px;
    left: 10px; }
  .icons-form__set figure:hover figcaption {
    transform: translateY(-35px); }
  .icons-form__set > figure > div > svg {
    width: 150px; }

.main-menu__wrap.order .main-constructor__wrap {
  width: 50%; }

.main-menu__wrap.order .main-constructor__image {
  flex-basis: 100%; }

.main-menu__wrap.order .main-constructor__settings {
  max-width: 0; }

.main-menu__wrap.order .main-constructor__settings:first-child {
  transform: translateX(-350px); }

.main-menu__wrap.order .main-constructor__settings:last-child {
  transform: translateX(350px); }

.main-menu__wrap.order .main-constructor__order {
  transform: translateX(-100%); }

.main-menu__wrap.order .main-constructor__image--range, .main-menu__wrap.order .main-constructor__image--width-tooltip, .main-menu__wrap.order .rangeslider-horizontal {
  visibility: hidden; }

.main-menu__wrap.order .main-constructor__image--range {
  max-width: 0;
  padding: 0; }

.main-menu__wrap.order .main-constructor__colors {
  transform: translateY(200px); }

.main-menu__wrap.order .main-constructor__energy {
  transform: translateY(-200px); }

.main-menu__wrap.order .main-constructor__energy + div {
  transform: translateY(-200px); }

.main-constructor__wrap {
  transition: width .4s ease-out; }

.main-constructor__settings, .main-constructor__colors, .main-constructor__settings--wrap, .main-constructor__order {
  transition: transform 0.4s ease-out; }

.main-constructor__energy, .main-constructor__energy + div {
  transition: transform 0.4s ease-out; }

.main-constructor__image {
  transition: flex-basis .4s ease-out; }

.main-constructor__settings figcaption {
  transition: transform 0.2s ease-out, opacity 0.2s ease-out; }

.icons-form__set .main-constructor__settings--icon figcaption {
  transition: transform 0.2s ease-out, opacity 0.2s ease-out; }

.main-constructor__settings--icons figure {
  transition: z-index 150ms; }
  .main-constructor__settings--icons figure figcaption {
    transition: transform 0.2s ease-out, opacity 0.2s ease-out; }

.main-constructor__color {
  transition: border-width 150ms ease-out; }
  .main-constructor__color::after {
    transition: transform .2s ease-out, opacity .1s; }
  .main-constructor__color::before {
    transition: transform 0.2s cubic-bezier(0.2, 0.85, 0.4, 1.275), opacity 0.4s; }

.main-constructor__energy svg > * {
  transition: fill .2s; }

.main-constructor__image--desc {
  transition: transform 0.4s ease-out; }

.rangeslider__handle {
  transition: top 0.2s ease-out, left 0.2s ease-out; }

.rangeslider__fill {
  transition: height 0.2s ease-out, width 0.2s ease-out; }

.loading svg {
  width: 34px;
  height: 34px; }
  .loading svg circle.background {
    fill: #fe4365;
    stroke: transparent;
    stroke-width: 0; }
  .loading svg circle.stroke {
    fill: transparent;
    stroke-width: 5px;
    stroke: #d4d4d4;
    stroke-dasharray: 91;
    stroke-dashoffset: 0;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: loading 8s infinite; }

@keyframes loading {
  0% {
    stroke-dashoffset: 182; }
  100% {
    stroke-dashoffset: 0; } }

.main-constructor__order {
  z-index: 5;
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  background-color: #fe4365;
  width: 50%;
  padding: 20vh 5vw; }
  .main-constructor__order--submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px; }
  .main-constructor__order--price span {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700; }

.ant-input {
  padding: 8px 11px 7px;
  height: auto; }

html body {
  font-family: "roboto", "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #323232; }

body {
  overflow: hidden; }
  body.inactive-menu {
    overflow: auto; }
  body h1, body h2, body h3, body h4, body h5, body p, body span, body legend {
    color: #323232; }
  body h2 {
    font-size: 28.5px;
    line-height: 57.5px;
    font-weight: 700;
    text-transform: uppercase; }
  body figure {
    margin-bottom: 0; }
  body address {
    margin-bottom: 0; }

.parallax-inner {
  transition: transform 90ms ease-out; }

header {
  position: relative;
  height: 87vh;
  overflow: hidden;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center; }
  header h1 {
    display: flex;
    justify-content: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 76px;
    color: #ffffff;
    margin-top: 30vh;
    margin-bottom: 0;
    font-family: 'proxima-bold', serif; }
  header p {
    color: #ffffff;
    font-family: 'proxima', serif;
    font-size: 20.5px;
    line-height: 32px;
    margin-bottom: 0; }
  header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; }

.preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .preview__legend {
    flex: 50% 1 1;
    padding-top: 23px; }
    .preview__legend > div {
      background-color: #fff;
      padding: 130px 100px 50px;
      padding-left: calc((100vw - 1100px) / 2);
      margin-bottom: 0; }
    .preview__legend h2 {
      margin-bottom: 30px; }
    .preview__legend p {
      font-size: 24px;
      line-height: 36px;
      font-weight: 400; }
    .preview__legend .rz_btn {
      float: right; }
  .preview__constructor {
    flex: 612px 0 0;
    max-width: 612px; }
    .preview__constructor hgroup {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 13vh;
      padding: 0 20%;
      background-color: #96BBAA; }
      .preview__constructor hgroup svg {
        cursor: pointer; }
    .preview__constructor main {
      min-height: 380px;
      background: url("../img/preview_bg.jpg");
      background-size: cover; }

.benefits {
  padding: 140px calc((100vw - 1100px) / 2) 50px; }
  .benefits__wrap {
    position: relative;
    min-height: 750px; }
  .benefits__dryer {
    position: absolute;
    top: 0;
    left: 0; }
    .benefits__dryer--img::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: #96BBAA;
      transform: translate(25px, 25px); }
    .benefits__dryer--img img {
      position: relative; }
  .benefits__bathroom {
    position: absolute;
    top: 150px;
    right: 0; }
  .benefits__legend {
    position: absolute;
    bottom: -50px;
    right: 100px;
    max-width: 680px;
    margin-bottom: 0; }
    .benefits__legend legend {
      padding: 60px 80px;
      background-color: #fff;
      font-size: 24px;
      line-height: 36px;
      font-weight: 400; }

.footer {
  padding: 100px calc((100vw - 1100px) / 2) 400px;
  background-image: linear-gradient(transparent 35%, #96BBAA 0); }
  .footer__map {
    position: relative; }
    .footer__map::before {
      content: '';
      background-color: #D6D6BF;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 260px;
      height: 471px;
      transform: translate(-30px, 45px); }
  .footer__copy {
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer__copy p {
      color: #ffffff; }
  .footer__social {
    display: flex;
    align-items: center; }
    .footer__social svg > * {
      fill: #fe4365;
      transition: fill .3s ease-in-out; }
    .footer__social svg.vkontakte, .footer__social svg.facebook {
      height: 50px; }
    .footer__social svg.instagram {
      height: 35px; }
    .footer__social svg:hover * {
      fill: #ffffff; }
  .footer__wrap {
    position: relative; }
  .footer__about > div {
    background-color: #fff;
    padding: 60px 80px; }
  .footer__main {
    width: 840px;
    position: absolute;
    top: 400px;
    right: 60px; }
    .footer__main p {
      font-size: 18px;
      line-height: 28px;
      font-weight: 500; }
    .footer__main ul {
      padding: 13px 0 0;
      margin-bottom: 0; }
    .footer__main li {
      list-style: none;
      color: #323232;
      font-size: .9rem; }
      .footer__main li a {
        color: inherit; }
      .footer__main li address, .footer__main li time {
        display: inline-block;
        margin-bottom: 0; }
      .footer__main li a, .footer__main li address, .footer__main li time {
        padding-left: 10px; }

.blur-container {
  transition: all .5s ease-in-out; }

body::-webkit-scrollbar {
  width: 3px; }

body::-webkit-scrollbar-button {
  height: 0;
  background-color: transparent; }

body::-webkit-scrollbar-track {
  background-color: transparent; }

body::-webkit-scrollbar-thumb {
  background-color: #fe4365;
  border-radius: 3px; }

.ant-popover-inner, .ant-popover-arrow {
  background-color: #fe4365; }

.ant-popover-inner-content {
  color: #ffffff;
  font-weight: 700; }

.ant-popover-inner-content {
  padding: 6px 12px; }
